In [2]:
import pandas as pd

chart_data = pd.DataFrame(
   [[10.783018, 76.686264],[10.790671, 76.677695]],
   columns=['lat', 'lon'])

print(chart_data)

         lat        lon
0  10.783018  76.686264
1  10.790671  76.677695

In [3]:
chart_data.head()

         lat        lon
0  10.783018  76.686264
1  10.790671  76.677695

In [16]:
import pandas as pd
import numpy as np

# Original latitude and longitude values
original_data = [[10.783018, 76.686264], [10.790671, 76.677695]]

# Generate latitude and longitude data for 50 rows with slight variations
np.random.seed(0)  # for reproducibility
num_rows = 100
data = []
for _ in range(num_rows):
    data.append([coord + np.random.uniform(-0.012, 0.012) for coord in original_data[np.random.randint(0, 2)]])

# Repeat some rows multiple times
data = data + data[:10] * 4  # Repeat the first 10 rows 4 times

# Create DataFrame
chart_data = pd.DataFrame(data, columns=['lat', 'lon'])

print(chart_data.head(20))  # Display the first 20 rows for verification

          lat        lon
0   10.785246  76.694526
1   10.791748  76.675863
2   10.787896  76.672836
3   10.794146  76.683467
4   10.790510  76.685783
5   10.800885  76.667400
6   10.794227  76.674533
7   10.797347  76.686575
8   10.782385  76.693486
9   10.797404  76.668534
10  10.784986  76.687161
11  10.783542  76.684216
12  10.783143  76.683381
13  10.784660  76.674715
14  10.782263  76.671031
15  10.801321  76.682059
16  10.785732  76.695920
17  10.780116  76.681697
18  10.782773  76.674291
19  10.778588  76.682993

In [17]:
chart_data.shape

(140, 2)

In [18]:
chart_data.to_csv("Miine.csv")

In [19]:
chart_data = pd.DataFrame(
    {
        "Pole": [1,2,3,4,5,6,7,8,9,10,11,12],
        "Count": [1,2,2,1,0,0,1,0,0,3,4,0]
    }
    )
chart_data

    Pole  Count
0      1      1
1      2      2
2      3      2
3      4      1
4      5      0
5      6      0
6      7      1
7      8      0
8      9      0
9     10      3
10    11      4
11    12      0

In [1]:
import csv

# Function to generate latitude and longitude with variations
def generate_coordinates(base_lat, base_lon, num_rows):
    coordinates = []
    lat_variation = 0.1
    lon_variation = 0.1
    for i in range(num_rows):
        lat = base_lat + (i % 10) * lat_variation
        lon = base_lon + (i % 10) * lon_variation
        coordinates.append((lat, lon))
    return coordinates

# Base latitude and longitude
base_lat = 10.78394644618225
base_lon = 76.6897066574858

# Generate coordinates
coordinates = generate_coordinates(base_lat, base_lon, 250)

# Write coordinates to CSV file
with open('coordinates.csv', 'w', newline='') as csvfile:
    fieldnames = ['lat', 'lon']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for i, (lat, lon) in enumerate(coordinates):
        writer.writerow({'lat': lat, 'lon': lon})